*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin3{
    width: 100%;
}
.fouter{
    width: 1200px;
    margin: auto;
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
font-family: 'Advent Pro';
    font-style: normal;
}
.fouter_box{
    height: 250px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1100px;
    background-color: #1877F2;
    color: white;
    border-radius: 20px 20px 0 0;
}
.fouter_card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .fouter{
        width: 100%;
        height: 650px;
    }
    .fouter_box{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        height: 600px;
    }
    .fouter_card{
        display: flex;
        flex-wrap: wrap;
    }
}